.btn {
    font-family: 'Roboto';
    font-style: normal;
    padding: 21px 38px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 150%;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
    &_order {
        width: 292px;
        margin: auto;
    }
    &_work {
        display: block;
        width: 292px;
        margin: auto;
    }
    &_price {
        font-size: 24px;
        padding: 19px 24px;
    }
	&_footer {
		position: relative;
		top: 50%;
		transform: translate(0,-50%);
		font-size: 18px;
		padding: 10px 24px;
	}
}
@media screen and (max-width: 991px) {
	.btn {
		&_price {
			font-size: 20px;
			padding: 16px 21px;
		}
	}
}
@media screen and (max-width: 900px) {
	.btn {
		padding: 13px 25px;
	}
}
@media screen and (max-width: 670px) {
	.btn {
		font-size: 105%;
		padding: 10px 15px;
	}
}
@media screen and (max-width: 420px) {
	.btn {
		font-size: 90%;
		padding: 5px 10px;
	}
}
@media screen and (max-width: 540px) {
	.btn {
		&_footer {
			display: block;
			margin: auto;
		}
	}
}