.btn {
    font-family: 'Roboto';
    font-style: normal;
    padding: 21px 38px;
    border-radius: 40px;
    font-weight: 400;
    font-size: 150%;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--red);
}