@import 'base/colors';
@import 'base/button';
@import 'base/form';

body {
    margin: 0;

}
div, p, input, form, span, a, ul, li {
    box-sizing: border-box;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}


@import 'blocks/header';
@import 'blocks/carousel';
@import 'blocks/design';
@import 'blocks/order';
@import 'blocks/production';
@import 'blocks/work';
@import 'blocks/price';
@import 'blocks/partner';
@import 'blocks/collaboration';