.footer {
	background: var(--dark_grey);
	&_wrapper {
		display: flex;
		justify-content: space-between;
		&_logo {
			padding-top: 37px;
			padding-bottom: 12px;
		}
		&_block {
			margin-top: 58px;
			width: 29%;
			&_img {
				display: block;
				float: left;
				padding-right: 10px;
			}
			&_p {
				font-weight: 400;
				font-size: 14px;
				color: var(--white);
			}
		}
	}
	&_subwrapper {
		margin-top: 13px;
	}
	&_subwrapper:first-child {
		margin-top: 0;
	}
}