.map {
    &_wrapper {
		display: flex;
	}
	&_iframe {
		width: 60%;
	}
    &_block {
        width: 40%;
        &_wrapper {
			float: right;
			width: 62%;
			margin-right: 78px;
			margin-bottom: 97px;
			margin-top: 94px;
            h3 {
                padding-bottom: 42px;
                font-weight: 500;
                font-size: 48px;
                color: var(--dark_grey);
            }
            &_img {
				position: relative;
				top: 50%;
				transform: translate(0, -50%);
                width: 18px;
                height: 18px;
                float: left;
			}
			&_p {
				font-weight: 400;
				font-size: 18px;
				padding-left: 30px;
				color: #333333;
			}
			&_red {
				padding-left: 20px;
				font-weight: 400;
				font-size: 17px;
				color: var(--red);
			}
			&_mesenger {
				margin-left: 30px;
				margin-bottom: 40px;
				&_a {
					text-decoration: none;
				}
				&_img {
					width: 49px;
					height: 49px;
					margin-right: 10px;
				}
			}
		}
		
	}
}