.map {
    &_wrapper {
		display: flex;
	}
	&_iframe {
		width: 60%;
	}
    &_block {
        width: 40%;
		&_subwrapper {
			margin-bottom: 40px;
			height: 27px;
		}
        &_wrapper {
			float: right;
			margin-right: 78px;
			margin-bottom: 97px;
			margin-top: 94px;
            h3 {
                padding-bottom: 42px;
                font-weight: 500;
                font-size: 48px;
                color: var(--dark_grey);
            }
            &_img {
				position: relative;
				top: 50%;
				transform: translate(0, -50%);
                width: 18px;
                height: 18px;
                float: left;
			}
			&_p {
				font-weight: 400;
				font-size: 18px;
				padding-left: 30px;
				color: #333333;
			}
			&_red {
				padding-left: 20px;
				font-weight: 400;
				font-size: 17px;
				color: var(--red);
			}
			&_mesenger {
				margin-left: 30px;
				margin-bottom: 40px;
				&_a {
					text-decoration: none;
				}
				&_img {
					width: 49px;
					height: 49px;
					margin-right: 10px;
				}
			}
		}
		
	}
}
@media screen and (max-width: 1200px) {
	.map_block_wrapper {
		margin-right: 30px;
	}
}
@media screen and (max-width: 1060px) {
	.map {
		&_block {
			&_subwrapper {
				margin-bottom: 14px;
				height: 18px;
			}
			&_wrapper {
				margin-right: 20px;
				margin-top: 40px;
				margin-bottom: 40px;
				&_p {
					font-size: 13px;
				}
				h3 {
					font-size: 43px;
					padding-bottom: 30px;
				}
				&_red {
					font-size: 14px;
				}
			}
		}
	}
}
@media screen and (max-width: 880px) {
	.map {
		&_block {
			&_wrapper {
				h3 {
					font-size: 37px;
				}
				&_p {
					font-size: 11px;
				}
				&_red {
					font-size: 12px;
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.map {
		&_block {
			width: 50%;
		}
		&_iframe {
			width: 50%;
		}
	}
}
@media screen and (max-width: 630px) {
	.map {
		&_block {
			&_subwrapper {
				margin-bottom: 9px;
			}
			&_wrapper {
				h3 {
					font-size: 32px;
					padding-bottom: 14px;
				}
				&_p {
					font-size: 10px;
				}
				&_red {
					font-size: 10px;
				}
				&_mesenger {
					margin-bottom: 19px;
				}
			}
		}
	}
}
@media screen and (max-width: 530px) {
	.map {
		&_wrapper {
			display: block;
			margin: auto;
		}
		&_block {
			width: 100%;
			&_subwrapper {
				width: fit-content;
				margin: auto;
				padding-bottom: 25px;
			}
			&_wrapper {
				float: none;
				margin-right: 0;
				margin-top: 20px;
				margin-bottom: 20px;
				text-align: center;
				h3 {
					font-size: 38px;
				}
				&_p {
					font-size: 14px;
				}
				&_img {
					display: none;
				}
			}
		}
		&_iframe {
			width: 100%;
		}
	}
}