.order {
    padding-top: 80px;
    padding-bottom: 100px;
    background: url(../img/order/img.png) no-repeat;
    &_title {
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
        padding-bottom: 21px;
        color: var(--white);
    }
    &_subtitle {
        width: 76%;
        margin: auto;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        color: #818181;
    }
}